.header_product
	background-color: $blue
	.header-middle
		max-height: 80px
		@include flexbox()
		@include justify-content(center)
		@include align-items(center)

	.src-input
		max-height: 45px!important
	.inputSearch
		&.inputActive
				input
					&:valid
						@include transform(translateY(0px)!important)
						~ button
							@include transform(translateY(0px)!important)
						~ .result_input
								@include transform(translateY(0px)!important)
								opacity: 1 !important
								pointer-events: all !important
		button
			width: 40px!important
			height: 40px!important
	.result_input
		z-index: 999
		@include box-shadow(5px 3px 20px 3px rgba($gray, .2), inset 0px 0px 0px 1px rgba($gray, .005))

