.header-middle
	background-color: $blue
	width: 100%
	height: 100vh
	.input
		height: 100%
		z-index: 100
		@include flexbox()
		@include justify-content(center)
		@include align-items(center)
		@include flex-direction(column)
		.inputSearch
			position: relative
			width: 100%
			min-width: 800px
			position: relative
			&.inputActive
				input
					&:valid
						@include transform(translateY(var(--input-animated)))
						~ button
							@include transform(translateY(var(--input-animated)))
						~ .result_input
								@include transform(translateY(var(--input-animated)))
								opacity: 1
								pointer-events: all
			input
				width: 100%
				border-radius: 3px
				height: 60px
				padding: 0px
					left: 10px
				outline: none!important
				box-shadow: none
				border: 1px solid rgba($gray, .5)
				border-radius: 4px
				color: $gray
				background: #fff
				@include transition(all .7s ease-in-out)
				font:
					family: $hind
					weight: 400
					size: calculateRem(14px)
			button
				position: absolute
				border-radius: 4px
				background-color: $blue
				border: none
				outline: none
				box-shadow: none
				top: 0
				bottom: 0
				margin: auto 0
				right: -5px
				width: 50px
				max-height: 50px
				cursor: pointer
				@include transition(all .7s ease-in-out)
				@include flexbox()
				@include justify-content(center)
				@include align-items(center)
				svg
					fill: white
					cursor: pointer
					width: 100%
					height: 100%
