body
	background-color: $white
	margin: 0
	padding: 0
	-webkit-font-smoothing: antialiased
	box-sizing: border-box
	font:
		size: 16px
		family: $hind

	h2
		font:
			size: 16px
			family: $hind
			weight: 700
		color: #666
		display: block

.to_be
	font:
		size: 16px
		family: $hind
		weight: 700
	color: #666
	display: block

.link_button
		width: 100%
		height: auto
		padding: 10px
		font:
			size: 16px
			family: $hind
			weight: 700
		color: $white
		background-color: $blue
		border-radius: 4px
		text-decoration: none
		@include transition(all .5s ease-in-out)
		&:hover,
		&:active
			background-color: darken($blue, 10%)


.cart
	width: 40px
	height: 40px
	transform: scaleX(-1)
	display: block
	background:
		image: url('./cart.png')
		position: center
		size: contain
		repeat: no-repeat
	position: relative
	.qtd
		position: absolute
		top: 0
		left: -10px
		width: 20px
		height: 20px
		transform: scaleX(-1)
		background-color: white
		@include box-shadow(0px 0px 0px 2px lighten($blue,10%))
		border-radius: 50%
		@include flexbox()
		@include justify-content(center)
		@include align-items(center)
		font:
			family: $hind
			size: calculateRem(14px)
			weight: 500
		margin: 0
		padding: 0

.hh-100
	height: 70vh!important
