.result_search_list
	min-width: 100%!important
	@include flexbox()
	// @include justify-content(space-between)
	.card_search
		max-width: 215px
		width: 100%
		cursor: pointer
		overflow: hidden
		padding: 10px
		@include transition(all .6s ease-in-out)
		text-decoration: none!important
		@include box-shadow( inset 0px 0px 0px 1px rgba($gray, .1))
		border-radius: 4px
		margin-right: 20px
		&:last-child
			margin-right: 0px!important
		&:hover
			@include box-shadow(3px 5px 10px 1px rgba($gray, .1), inset 0px 0px 0px 1px rgba($gray, .2))
		span
			padding: 5px!important
			display: block
			width: 90%
			text-decoration: none!important
			height: 150px
			margin-top: 10px
			background:
				position: center
				size: contain
				repeat: no-repeat
		.desc
			@include flexbox()
			@include justify-content(start)
			@include align-items(start)
			@include flex-direction(column)
			width: 90%
			padding: 8px!important
			.title
				font:
					size: calculateRem(15px)
					weight: 500
					family: $hind
				text-decoration: none
				color: darken($gray, 15%)
			.price
				margin:
					top: 10px
					bottom: 10px
				font:
					size: calculateRem(16px)
					weight: 600
					family: $hind
				color: black
	.button
		margin: 0 auto
			top: 30px
			bottom: 30px
		a
			padding:
				left: 30px
				right: 30px

