.result_input
	width: 100%
	position: absolute
	padding: 5px
	top: 60px
	height: auto
	min-height: 150px
	opacity: 0
	pointer-events: none
	background-color: $white
	@include transition(all .7s ease-in-out, opacity .5s ease-in-out)
	border-radius: 	4px
	margin: 0
		top: 20px
	@include flexbox()
	@include justify-content(space-between)
	@include align-items(start)
	@include flex-basis(50%)
	&:after
		content: ''
		position: absolute
		left: 18px
		top: -10px
		width: 0
		height: 0
		border-left: 10px solid transparent
		border-right: 10px solid transparent
		border-bottom: 10px solid $white
		clear: both
	&.disabled
		display: none!important
		z-index: -1!important
		pointer-events: none!important
	.partial
		@include flex(1 1 40%)
		@include flexbox()
		@include justify-content(flex-start)
		@include align-items(flex-start)
		@include flex-direction(column)
		padding: 10px
			top: 15px
			bottom: 15px
		position: relative
		&:before
			content: ''
			display: block
			position: absolute
			width: 1px
			height: calc(100% - 30px)
			background-color: $gray
			top: 15px
			right: 0
		ul
			margin: 0
			padding: 0
			list-style-type: none
			width: 100%
			a
				text-decoration: none
			li
				width: 100%
				padding: 0px
					top: 7px
					bottom: 7px
				cursor: pointer
				@include transition(all .2s ease-in-out)
				&:hover
					background-color: rgba($gray, .1)
					background-size: 110%
					border-radius: 4px
				> span
						padding: 5px
				span
					font:
						size: calculateRem(14px)
						weight: 400
						family: $hind
					color: darken($gray, 15%)
				.current_search
					font-weight: 600
	.fullText
		@include flex(1 1 60%)
		@include flexbox()
		@include align-items(start)
		@include flex-direction(column)
		width: 100%
		padding: 10px
			top: 15px
			bottom: 15px
		height: auto
		.result_search
			min-width: 100%!important
			@include flexbox()
			@include justify-content(space-between)
		.card_search
			width: 100%
			cursor: pointer
			overflow: hidden
			@include transition(all .4s ease-in-out)
			text-decoration: none!important
			&:hover
				@include box-shadow(3px 5px 10px 1px rgba($gray, .1), inset 0px 0px 0px 1px rgba($gray, .2))
				border-radius: 4px
			span
				padding: 5px!important
				display: block
				width: 90%
				text-decoration: none!important
				height: 100px
				margin-top: 10px
				background:
					position: center
					size: contain
					repeat: no-repeat
			.desc
				@include flexbox()
				@include justify-content(start)
				@include align-items(start)
				@include flex-direction(column)
				width: 90%
				padding: 8px!important
				.title
					font:
						size: calculateRem(13px)
						weight: 500
						family: $hind
					text-decoration: none
					color: darken($gray, 15%)
				.price
					margin-top: 10px
					font:
						size: calculateRem(15px)
						weight: 600
						family: $hind
					color: black



