.card_single
	@include flexbox()
	@include justify-content(space-between)
	@include align-items(flex-start)
	margin: 0
	padding: 0
	.image_full
		width: 100%
		padding: 0
		margin: 0
		height: auto
		@include flexbox()
		@include justify-content(center)
		@include align-items(center)
		img
			max-width: 100%
			max-height: 450px
			margin: 0 auto
	.content
		margin: 0
		padding: 0
		.title
			@extend h2
			font-size: calculateRem(26px)!important
		.specific
			small
				line-height: 1.2
				padding-right: 10px
				font-size: calculateRem(16px)
				color: rgb(153, 153, 153)
				font-family: Hind, sans-serif
				margin: 0px
		.price
			margin-top: 35px
			font:
				size: calculateRem(26px)
				weight: 600
				family: $hind
			color: black
	.desc
		margin-top: 35px
		h2
			font-size: calculateRem(18px)
			position: relative
			&:before
				content: ''
				display: block
				width: 100%
				height: 1px
				background-color: rgba($gray, .2)
				position: absolute
				left: 0
				bottom: -5px
		p
			font:
				size: calculateRem(15px)
				line-height: 20px!important
				weight: 400
				family: $hind
			color: $gray
	.button
		margin-top: 50px




