@import url("https://fonts.googleapis.com/css?family=Hind:400,500,700");
:root {
  --input-animated: 0px
; }

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Hind", sans-serif; }
  body h2, body .card_single .content .title, .card_single .content body .title {
    font-size: 16px;
    font-family: "Hind", sans-serif;
    font-weight: 700;
    color: #666;
    display: block; }

.to_be {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  color: #666;
  display: block; }

.link_button {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #00adef;
  border-radius: 4px;
  text-decoration: none;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .link_button:hover, .link_button:active {
    background-color: #0088bc; }

.cart {
  width: 40px;
  height: 40px;
  transform: scaleX(-1);
  display: block;
  background-image: url("./cart.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }
  .cart .qtd {
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 2px #23c2ff;
    -moz-box-shadow: 0px 0px 0px 2px #23c2ff;
    box-shadow: 0px 0px 0px 2px #23c2ff;
    border-radius: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-family: "Hind", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
    padding: 0; }

.hh-100 {
  height: 70vh !important; }

.header-middle {
  background-color: #00adef;
  width: 100%;
  height: 100vh; }
  .header-middle .input {
    height: 100%;
    z-index: 100;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-middle .input .inputSearch {
      position: relative;
      width: 100%;
      min-width: 800px;
      position: relative; }
      .header-middle .input .inputSearch.inputActive input:valid {
        -webkit-box-transform: translateY(var(--input-animated));
        -moz-box-transform: translateY(var(--input-animated));
        -webkit-transform: translateY(var(--input-animated));
        -ms-transform: translateY(var(--input-animated));
        transform: translateY(var(--input-animated)); }
        .header-middle .input .inputSearch.inputActive input:valid ~ button {
          -webkit-box-transform: translateY(var(--input-animated));
          -moz-box-transform: translateY(var(--input-animated));
          -webkit-transform: translateY(var(--input-animated));
          -ms-transform: translateY(var(--input-animated));
          transform: translateY(var(--input-animated)); }
        .header-middle .input .inputSearch.inputActive input:valid ~ .result_input {
          -webkit-box-transform: translateY(var(--input-animated));
          -moz-box-transform: translateY(var(--input-animated));
          -webkit-transform: translateY(var(--input-animated));
          -ms-transform: translateY(var(--input-animated));
          transform: translateY(var(--input-animated));
          opacity: 1;
          pointer-events: all; }
      .header-middle .input .inputSearch input {
        width: 100%;
        border-radius: 3px;
        height: 60px;
        padding: 0px;
          padding-left: 10px;
        outline: none !important;
        box-shadow: none;
        border: 1px solid rgba(70, 74, 76, 0.5);
        border-radius: 4px;
        color: #464a4c;
        background: #fff;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        font-family: "Hind", sans-serif;
        font-weight: 400;
        font-size: 0.875rem; }
      .header-middle .input .inputSearch button {
        position: absolute;
        border-radius: 4px;
        background-color: #00adef;
        border: none;
        outline: none;
        box-shadow: none;
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: -5px;
        width: 50px;
        max-height: 50px;
        cursor: pointer;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center; }
        .header-middle .input .inputSearch button svg {
          fill: white;
          cursor: pointer;
          width: 100%;
          height: 100%; }

.result_input {
  width: 100%;
  position: absolute;
  padding: 5px;
  top: 60px;
  height: auto;
  min-height: 150px;
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  -moz-transition: all 0.7s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: all 0.7s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out, opacity 0.5s ease-in-out;
  transition: all 0.7s ease-in-out, opacity 0.5s ease-in-out;
  border-radius: 4px;
  margin: 0;
    margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: start;
  -moz-align-items: start;
  -ms-align-items: start;
  align-items: start;
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%; }
  .result_input:after {
    content: '';
    position: absolute;
    left: 18px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    clear: both; }
  .result_input.disabled {
    display: none !important;
    z-index: -1 !important;
    pointer-events: none !important; }
  .result_input .partial {
    -webkit-box-flex: 1 1 40%;
    -moz-box-flex: 1 1 40%;
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    position: relative; }
    .result_input .partial:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: calc(100% - 30px);
      background-color: #464a4c;
      top: 15px;
      right: 0; }
    .result_input .partial ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%; }
      .result_input .partial ul a {
        text-decoration: none; }
      .result_input .partial ul li {
        width: 100%;
        padding: 0px;
          padding-top: 7px;
          padding-bottom: 7px;
        cursor: pointer;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .result_input .partial ul li:hover {
          background-color: rgba(70, 74, 76, 0.1);
          background-size: 110%;
          border-radius: 4px; }
        .result_input .partial ul li > span {
          padding: 5px; }
        .result_input .partial ul li span {
          font-size: 0.875rem;
          font-weight: 400;
          font-family: "Hind", sans-serif;
          color: #212324; }
        .result_input .partial ul li .current_search {
          font-weight: 600; }
  .result_input .fullText {
    -webkit-box-flex: 1 1 60%;
    -moz-box-flex: 1 1 60%;
    -webkit-flex: 1 1 60%;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: start;
    -moz-align-items: start;
    -ms-align-items: start;
    align-items: start;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    height: auto; }
    .result_input .fullText .result_search {
      min-width: 100% !important;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between; }
    .result_input .fullText .card_search {
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      text-decoration: none !important; }
      .result_input .fullText .card_search:hover {
        -webkit-box-shadow: 3px 5px 10px 1px rgba(70, 74, 76, 0.1), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.2);
        -moz-box-shadow: 3px 5px 10px 1px rgba(70, 74, 76, 0.1), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.2);
        box-shadow: 3px 5px 10px 1px rgba(70, 74, 76, 0.1), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.2);
        border-radius: 4px; }
      .result_input .fullText .card_search span {
        padding: 5px !important;
        display: block;
        width: 90%;
        text-decoration: none !important;
        height: 100px;
        margin-top: 10px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
      .result_input .fullText .card_search .desc {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: start;
        -moz-justify-content: start;
        -ms-justify-content: start;
        justify-content: start;
        -ms-flex-pack: start;
        -webkit-align-items: start;
        -moz-align-items: start;
        -ms-align-items: start;
        align-items: start;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 90%;
        padding: 8px !important; }
        .result_input .fullText .card_search .desc .title {
          font-size: 0.8125rem;
          font-weight: 500;
          font-family: "Hind", sans-serif;
          text-decoration: none;
          color: #212324; }
        .result_input .fullText .card_search .desc .price {
          margin-top: 10px;
          font-size: 0.9375rem;
          font-weight: 600;
          font-family: "Hind", sans-serif;
          color: black; }

.header_product {
  background-color: #00adef; }
  .header_product .header-middle {
    max-height: 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .header_product .src-input {
    max-height: 45px !important; }
  .header_product .inputSearch.inputActive input:valid {
    -webkit-box-transform: translateY(0px) !important;
    -moz-box-transform: translateY(0px) !important;
    -webkit-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    transform: translateY(0px) !important; }
    .header_product .inputSearch.inputActive input:valid ~ button {
      -webkit-box-transform: translateY(0px) !important;
      -moz-box-transform: translateY(0px) !important;
      -webkit-transform: translateY(0px) !important;
      -ms-transform: translateY(0px) !important;
      transform: translateY(0px) !important; }
    .header_product .inputSearch.inputActive input:valid ~ .result_input {
      -webkit-box-transform: translateY(0px) !important;
      -moz-box-transform: translateY(0px) !important;
      -webkit-transform: translateY(0px) !important;
      -ms-transform: translateY(0px) !important;
      transform: translateY(0px) !important;
      opacity: 1 !important;
      pointer-events: all !important; }
  .header_product .inputSearch button {
    width: 40px !important;
    height: 40px !important; }
  .header_product .result_input {
    z-index: 999;
    -webkit-box-shadow: 5px 3px 20px 3px rgba(70, 74, 76, 0.2), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.005);
    -moz-box-shadow: 5px 3px 20px 3px rgba(70, 74, 76, 0.2), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.005);
    box-shadow: 5px 3px 20px 3px rgba(70, 74, 76, 0.2), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.005); }

.card_single {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0; }
  .card_single .image_full {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .card_single .image_full img {
      max-width: 100%;
      max-height: 450px;
      margin: 0 auto; }
  .card_single .content {
    margin: 0;
    padding: 0; }
    .card_single .content .title {
      font-size: 1.625rem !important; }
    .card_single .content .specific small {
      line-height: 1.2;
      padding-right: 10px;
      font-size: 1rem;
      color: #999999;
      font-family: Hind, sans-serif;
      margin: 0px; }
    .card_single .content .price {
      margin-top: 35px;
      font-size: 1.625rem;
      font-weight: 600;
      font-family: "Hind", sans-serif;
      color: black; }
  .card_single .desc {
    margin-top: 35px; }
    .card_single .desc h2, .card_single .desc .content .title, .card_single .content .desc .title {
      font-size: 1.125rem;
      position: relative; }
      .card_single .desc h2:before, .card_single .desc .content .title:before, .card_single .content .desc .title:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(70, 74, 76, 0.2);
        position: absolute;
        left: 0;
        bottom: -5px; }
    .card_single .desc p {
      font-size: 0.9375rem;
      font-line-height: 20px !important;
      font-weight: 400;
      font-family: "Hind", sans-serif;
      color: #464a4c; }
  .card_single .button {
    margin-top: 50px; }

.result_search_list {
  min-width: 100% !important;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .result_search_list .card_search {
    max-width: 215px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    text-decoration: none !important;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(70, 74, 76, 0.1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(70, 74, 76, 0.1);
    box-shadow: inset 0px 0px 0px 1px rgba(70, 74, 76, 0.1);
    border-radius: 4px;
    margin-right: 20px; }
    .result_search_list .card_search:last-child {
      margin-right: 0px !important; }
    .result_search_list .card_search:hover {
      -webkit-box-shadow: 3px 5px 10px 1px rgba(70, 74, 76, 0.1), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.2);
      -moz-box-shadow: 3px 5px 10px 1px rgba(70, 74, 76, 0.1), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.2);
      box-shadow: 3px 5px 10px 1px rgba(70, 74, 76, 0.1), inset 0px 0px 0px 1px rgba(70, 74, 76, 0.2); }
    .result_search_list .card_search span {
      padding: 5px !important;
      display: block;
      width: 90%;
      text-decoration: none !important;
      height: 150px;
      margin-top: 10px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    .result_search_list .card_search .desc {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: start;
      -moz-justify-content: start;
      -ms-justify-content: start;
      justify-content: start;
      -ms-flex-pack: start;
      -webkit-align-items: start;
      -moz-align-items: start;
      -ms-align-items: start;
      align-items: start;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 90%;
      padding: 8px !important; }
      .result_search_list .card_search .desc .title {
        font-size: 0.9375rem;
        font-weight: 500;
        font-family: "Hind", sans-serif;
        text-decoration: none;
        color: #212324; }
      .result_search_list .card_search .desc .price {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 600;
        font-family: "Hind", sans-serif;
        color: black; }
  .result_search_list .button {
    margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px; }
    .result_search_list .button a {
      padding-left: 30px;
      padding-right: 30px; }
